<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Signup Template · Bootstrap v4.6</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

</head>

<body class="p-5 container">
    <main role="main" class="row d-flex justify-content-center">
        <form class="form-signup w-50" action="/users/add" method="post">
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <div class="input-group">
                    <input type="email" id="inputEmail" name="userEmail" class="form-control" placeholder="Email address" required autofocus>
                    <div class="input-group-append">
                        <button type="button" id="emailCheckBtn" onclick="checkEmail()" class="btn btn-primary">Check</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" >Password</label>
                <input type="password" id="inputPassword" name="userPassword" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="inputNickname">Nickname</label>
                <input type="text" id="inputNickname" name="userNickName" class="form-control" placeholder="Nickname" required>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
        </form>
    </main>
</body>
    <script>
        var userEmail = document.getElementById('inputEmail');
        function checkEmail() {
            console.log(userEmail.value);
            var data = {
                'userEmail' : userEmail.value
            }
            const url = '/users/checkEmail';
            const option = {
                method : 'post',
                headers : {'Content-type' : 'application/json'},
                body : JSON.stringify(data)
            };
            console.log(option.body);
            fetch(url, option)
            .then((res) => {
                //console.log(res);
            });
        }
    </script>
</html>